<?xml version="1.0"?>
<configuration>

  <appSettings>
    
    <!-- Address of the router page which contains the daily and monthly bandwidth information -->
    <add key="Address" value="http://192.168.0.1/bwm-daily.asp"></add>
    
    <add key="UserName" value="root"></add>
    <add key="Password" value="password"></add>

    <!--Timeout value in seconds.-->
    <add key="Timeout" value="15"></add>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
